/* Map Title Styling */
.map-title {
    text-align: left;    
    margin-bottom: 10px; 
    margin-left: 10px;
    font-size: 24px;    
    font-weight: bold;    
}

.map-title .title {
    margin-right: 1100px;
}

.map-title .name {
    font-size: 19px;      
    font-weight: normal;   
}

/* Map Container */
.map-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
}

/* Legend Styling */
.legend {
    position: absolute;
    background-color: #ffffff;
    top: 22%;     
    right: 30px;  
    margin: 0 10px 30px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    max-width: 200px;
}

/* Interactive Elements */
.mapboxgl-popup {
    max-width: 250px;
}

.mapboxgl-popup-content {
    padding: 15px;
    border-radius: 5px;
}

/* Hover Effects */
.mapboxgl-canvas {
    cursor: default;
}

.mapboxgl-canvas:hover {
    cursor: pointer;
}